a
  text-decoration: none
  outline-width: 0
  &:hover
    background-color: yellow
  &:visited
    color: blue
a.disabled
  background-color: transparent
  cursor: default
table
  border-collapse: collapse
table.centered
  margin-left: auto
  margin-right: auto
.hidden
  display: none

.flash
  border-size: 2px
  border-style: solid
  text-align: center
  margin-bottom: 5mm
  div
    padding: 2px
  .notice
    background-color: yellow
  .error
    background-color: red

.game_form
  table.expansions
    margin-bottom: 5mm
    td
      padding: 2mm
  .players
    margin-bottom: 5mm
    table
      td
        padding: 2mm
        span.color
          padding: 1mm
          background-color: white
  .player
    padding: 2mm
    .color
      padding: 1mm
      background-color: white
  .field_with_errors
    color: red
    font-size: 125%

#game_title
  text-align: center
  margin-bottom: 5mm
  #number
    font-size: 200%
    font-weight: bold
  #expansions
    font-size: 120%
    color: gray

table#gameCounts
  th
    text-align: left
  th, td
    padding-left: 1mm
    padding-right: 1mm
  td
    text-align: center

#players
  text-align: center
  .player
    display: inline-block
    border-width: 5px
    border-style: solid
    text-align: center
    margin: 4px
    padding: 2mm
    vertical-align: top
    .name
      font-size: 125%
      font-weight: bold
      border: 2px solid #999
      padding: 2mm
      margin-bottom: 2mm
      span
        padding: 1mm
        background-color: white
    .action
      display: inline-block
    .disabled
      color: gray
    .largestArmy
      background-color: red
    .buildings
      border-top: 2px solid #999
  .player.hasEnoughVictoryPointsToWin
    background-color: #FFFFBB

form.edit_game
  table
    tr
      td
        label
          .display_name
            font-size: 150%
