- form_for @game do |f|
  %table
    - Expansion.all.each do |expansion|
      %tr
        %td= check_box_tag "game[expansion_ids][]", expansion.id, @game.expansion_ids.include?(expansion.id), :id => dom_id(expansion)
        %td= label_for_expansion(expansion)
  = f.submit 'save'
