.settlements
  %span.image= "#{image_tag('settlement.png')} = "
  %span.number= player.settlements.size
  = link_to_if player.can_build_settlement?, render(:partial => 'actions/build', :locals => {:disabled => !player.can_build_settlement?}), player_settlements_url(player), :method => :post
