.settlements
  %span.image= "#{image_tag('settlement.png')} x "
  %span.number= player.settlements.size
  - can_build = player.can_build_settlement?
  = link_to_if can_build, action_partial('build', image_tag('add.png'), !can_build), player_settlements_url(player), :method => :post
