.bonuses
  = longest_road_image(player)
  - if @game.uses?(FishermenOfCatan) && player.boot
    = image_tag('boot.png', :title => 'boot')
  - if @game.uses?(CitiesAndKnights)
    - if player.merchant
      = image_tag('merchant.png', :title => 'merchant')
    - player.metropolises.each do |metropolis|
      = metropolis_image_tag(metropolis.development_area)
