.player{:style => "border: 5px solid #{player.color == 'white' ? 'black' : player.color}"}
  .name{:style => "background-color: #{player.color}"}
    %span= player.name
  =render :partial => 'players/victory_points', :locals => {:player => player}
  =render :partial => 'longest_roads/longest_road', :locals => {:player => player}
  -if @game.uses?(CitiesAndKnights)
    =render :partial => 'merchants/merchant', :locals => {:player => player}
    =render :partial => 'progress_card_victory_points/progress_card_victory_points', :locals => {:player => player}
  -if @game.uses?(FishermenOfCatan)
    =render :partial => 'boots/boot', :locals => {:player => player}
  -if @game.largest_army.try(:player_id)
    =render :partial => 'largest_armies/largest_army', :locals => {:player => player}
  -if @game.uses?(CitiesAndKnights)
    =render :partial => 'players/defenders_of_catan', :locals => {:player => player}
  -if @game.uses?(GreatRiver)
    =render :partial => 'gold_point_victory_points/gold_point_victory_point', :locals => {:player => player}
  .buildings
    =render :partial => @game.metropolises, :locals => {:player => player}
    =render :partial => 'cities/cities', :locals => {:player => player}
    =render :partial => 'settlements/settlements', :locals => {:player => player}
    -if @game.uses?(CitiesAndKnights)
      =render :partial => 'knights/knights', :locals => {:player => player}
    -else
      =render :partial => 'soldiers/soldiers', :locals => {:player => player}
